<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/RazorPagesLabb01.styles.css" asp-append-version="true">
</head>
<body>
    @{
        var date = DateTime.Now.ToShortDateString();
    }

    <!-- Top section including logo and date -->
    <section class="top-container" id="top-container">
        <div class="logo-container"><a href="/"><img src="./logo.png" class="logo" alt="Logo that reads Razor Pages" /></a></div>
        <div class="date"><span>Dagens datum är: @date</span></div>
    </section>

    <main>
        <div class="container">
            <!-- Navigation -->
            <div class="content-small" id="menu-container">
                <nav class="nav" id="nav">
                    <ul class="nav-list">
                        @{
                            var pageTitle = ViewData["title"];
                        }
                        <li class="nav-item @(pageTitle == "Hem" ? "active" : "")"><a asp-page="/Index">Start</a></li>
                        <li class="nav-item @(pageTitle == "Razor" ? "active" : "")"><a asp-page="/Razor">Razor</a></li>
                        <li class="nav-item @(pageTitle == "Om sidan" ? "active" : "")"><a asp-page="/About">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Main content -->
            <div class="content-large">@RenderBody()</div>

            <!-- Footer -->
            <footer id="footer"><p>Av Jenny Dinh - Kontakta mig via e-post: jedi2100@student.miun.se</p></footer>
        </div>
    </main>


    <script src="~/js/app.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>